<!DOCTYPE html>
<html>

<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-rtl/3.2.0-rc2/css/bootstrap-rtl.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/xb-khoramshahr" type="text/css"/>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block head %}{% endblock %}
  <title>جمعة مباركة{% block title %}{% endblock %}</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <img alt="جمعة مباركة" src="/static/images/jumuah.png">
          </a>
        </div>
        <ul class="nav navbar-nav navbar-left">
          {% if current_user.is_authenticated %}
          <li><a href="#">اهلا {{ current_user.email }}</a></li>
          <li><a href="/logout/">خروج</a></li>
          {% else %}
          <li><a href="/login/">دخول</a></li>
          <li><a href="/register/">تسجيل</a></li>
          {% endif %}

        </ul>
      </div>
    </nav>
  </header>

  <div id="wrap">
    <div id="main">
      <div class="wrapper clearfix">
        <div class="clearfix"></div>
        <main>
          <div class="container">
            <!-- messages -->
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <br>
            <div class="row">
              <div class="col-md-12">
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
                 {{message}}
                </div>
                {% endfor %}
              </div>
            </div>
            {% endif %}
            {% endwith %}
            {% block content %}
            {% endblock %}
          </div>
        </main>
      </div>
    </div>
  </div>

  <footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container">
        <p class="navbar-text">جمعة مباركة ٢٠١٦</p>
      </div>
    </nav>
  </footer>

  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
</body>
</html>
