{% extends "base.html" %}

{% block content %}
<div class="spacer feature-section"><!-- Feature Blog Start -->
  <div class="container">
    <div class="row">
      <div class="col-md-12 tp-title-center">
        <h1>نفع أكبر لشريعة عظيمة</h1>
      </div>
    </div>
    <div class="row feature-center"><!-- feature center -->
      <div class="col-md-4 feature-block"><!-- feature block -->
        <div class="feature-icon"><img src="/static/images/vendor.svg" alt=""></div>
        <h2>ابحث عن جامع</h2>
        <p></p>
      </div><!-- /.feature block -->
      <div class="col-md-4 feature-block"><!-- feature block -->
        <div class="feature-icon"><img src="/static/images/mail.svg" alt=""></div>
        <h2>شارك</h2>
        <p></p>
      </div><!-- /.feature block -->
      <div class="col-md-4 feature-block"><!-- feature block -->
        <div class="feature-icon"><img src="/static/images/graph.svg" alt=""></div>
        <h2>تفاعل</h2>
        <p></p>
      </div><!-- /.feature block -->
    </div><!-- /.feature center -->
  </div>
</div><!-- Feature Blog End -->


<div class="tp-section spacer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 tp-title-center">
        <h1>جوامع نشيطة</h1>
      </div>
    </div>
    <div class="row ">
      <div class="col-md-4 vendor-box"><!-- venue box start-->
        <div class="vendor-image"><!-- venue pic -->
          <a href="#"><img src="/static/images/m-1.jpg" alt="wedding venue" class="img-responsive"></a>
        </div>
        <!-- /.venue pic -->
        <div class="vendor-detail"><!-- venue details -->
          <div class="caption"><!-- caption -->
            <h2><a href="#" class="title">الراجحي</a></h2>
            <p class="location"><i class="fa fa-map-marker"></i> الرياض</p>
          </div>
        </div>
        <!-- venue details -->
      </div>

      <div class="col-md-4 vendor-box"><!-- venue box start-->
        <div class="vendor-image"><!-- venue pic -->
          <a href="#"><img src="/static/images/m-2.jpg" alt="wedding venue" class="img-responsive"></a>
        </div>
        <!-- /.venue pic -->
        <div class="vendor-detail"><!-- venue details -->
          <div class="caption"><!-- caption -->
            <h2><a href="#" class="title">الملك خالد</a></h2>
            <p class="location"><i class="fa fa-map-marker"></i> الرياض</p>
          </div>
        </div>
        <!-- venue details -->
      </div>

      <div class="col-md-4 vendor-box"><!-- venue box start-->
        <div class="vendor-image"><!-- venue pic -->
          <a href="#"><img src="/static/images/m-3.jpg" alt="wedding venue" class="img-responsive"></a>
        </div>
        <!-- /.venue pic -->
        <div class="vendor-detail"><!-- venue details -->
          <div class="caption"><!-- caption -->
            <h2><a href="#" class="title">الإمام تركي بن عبدالله</a></h2>
            <p class="location"><i class="fa fa-map-marker"></i> الرياض</p>
          </div>
        </div>
        <!-- venue details -->
      </div>


    </div>
  </div>
</div>


<!-- <div class="jumbotron">
  <p><a class="btn btn-default btn-lg" href="/mosque/" role="button">قائمة الجوامع</a></p>
</div> -->
{% endblock %}
