{% extends "base.html" %}

{% block content %}
<div class="spacer feature-section"><!-- Feature Blog Start -->
  <div class="container">
    <div class="row">
      <div class="col-md-12 tp-title-center">
        <h1>نفع أكبر لشريعة عظيمة</h1>
      </div>
    </div>
    <div class="row feature-center"><!-- feature center -->
      <div class="col-md-4 feature-block"><!-- feature block -->
        <div class="feature-icon"><img src="/static/images/vendor.svg" alt=""></div>
        <h2>ابحث عن جامع</h2>
        <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text.</p>
      </div><!-- /.feature block -->
      <div class="col-md-4 feature-block"><!-- feature block -->
        <div class="feature-icon"><img src="/static/images/mail.svg" alt=""></div>
        <h2>شارك</h2>
        <p>Various versions have evolved over the years, sometimes by accident, sometimes on purpose
          (injected humour and the like).</p>
      </div><!-- /.feature block -->
      <div class="col-md-4 feature-block"><!-- feature block -->
        <div class="feature-icon"><img src="/static/images/couple.svg" alt=""></div>
        <h2>تفاعل</h2>
        <p>The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
      </div><!-- /.feature block -->
    </div><!-- /.feature center -->
  </div>
</div><!-- Feature Blog End -->


<div class="tp-section spacer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 tp-title-center">
        <h1>جوامع نشيطة</h1>
      </div>
    </div>
    <div class="row ">
      <div class="col-md-4 vendor-box"><!-- venue box start-->
        <div class="vendor-image"><!-- venue pic -->
          <a href="#"><img src="/static/images/vendor-1.jpg" alt="wedding venue" class="img-responsive"></a>
          <div class="feature-label"></div>
          <div class="favourite-bg"><a href="#" class=""><i class="fa fa-heart"></i></a></div>
        </div>
        <!-- /.venue pic -->
        <div class="vendor-detail"><!-- venue details -->
          <div class="caption"><!-- caption -->
            <h2><a href="#" class="title">Venue Vendor Title</a></h2>
            <p class="location"><i class="fa fa-map-marker"></i> Street Address, Name of Town, 12345, Country.</p>
            <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="rating-count">(22)</span> </div>
          </div>
          <!-- /.caption -->
          <div class="vendor-price">
            <div class="price">$390 - $600</div>
          </div>
        </div>
        <!-- venue details -->
      </div>

      <!-- /.venue box start-->
      <div class="col-md-4 vendor-box"><!-- venue box start-->
        <div class="vendor-image"><!-- venue pic -->
          <a href="#"><img src="/static/images/vendor-4.jpg" alt="wedding venue" class="img-responsive"></a>
          <div class="rated-label"></div>
          <div class="favourite-bg"><a href="#" class=""><i class="fa fa-heart"></i></a></div>
        </div>
        <!-- /.venue pic -->
        <div class="vendor-detail"><!-- venue details -->
          <div class="caption"><!-- caption -->
            <h2><a href="#" class="title"> Wedding Dress Vendor Title</a></h2>
            <p class="location"><i class="fa fa-map-marker"></i> Street Address, Name of Town, 12345, Country.</p>
            <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="rating-count">(22)</span> </div>
          </div>
          <!-- /.caption -->
          <div class="vendor-price">
            <div class="price">$390 - $600</div>
          </div>
        </div>
        <!-- venue details -->
      </div>
      <!-- /.venue box start-->
      <div class="col-md-4 vendor-box"><!-- venue box start-->
        <div class="vendor-image"><!-- venue pic -->
          <a href="#"><img src="/static/images/vendor-3.jpg" alt="wedding venue" class="img-responsive"></a>
          <div class="popular-label"></div>
          <div class="favourite-bg"><a href="#" class=""><i class="fa fa-heart"></i></a></div>
        </div>
        <!-- /.venue pic -->
        <div class="vendor-detail"><!-- venue details -->
          <div class="caption"><!-- caption -->
            <h2><a href="#" class="title">Vendor Photographer Title</a></h2>
            <p class="location"><i class="fa fa-map-marker"></i> Street Address, Name of Town, 12345, Country.</p>
            <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="rating-count">(22)</span> </div>
          </div>
          <!-- /.caption -->
          <div class="vendor-price">
            <div class="price">$390 - $600</div>
          </div>
        </div>
        <!-- venue details -->
      </div>
    </div>
  </div>
</div>


<!-- <div class="jumbotron">
  <p><a class="btn btn-default btn-lg" href="/mosque/" role="button">قائمة الجوامع</a></p>
</div> -->
{% endblock %}
