{% extends "base.html" %}

{% block content %}
<div class="page-header">
  <h1>قائمة الجوامع</h1>
  <a class="btn btn-default pull-left" href="/mosque/add/" role="button">إضافة <i class="fa fa-plus"></i></a>
</div>

{% if mosques %}
<div class="mosques">
  <ul>
  {% for mosque in mosques %}
  <li>
    <div class="col-md-3"><a href="/mosque/{{ mosque.id }}">
      <div class="panel panel-default">
        <div class="panel-body">
          {{ mosque.name }}
        </div>
      </div></a>
    </div>
  </li>
  {% endfor %}
  </ul>
</div>
{% else %}
<h1>هناك مشكلة!</h1>
{% endif %}
{% endblock %}
