{% extends "base.html" %}

{% block content %}

<div class="tp-breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ol class="breadcrumb">
          <li><a href="#">الرئيسية</a></li>
          <li class="active">قائمة الجوامع</li>
        </ol>
      </div>
      <!-- <div class="col-md-4 text-right"> <a class="btn tp-btn-link" role="button" data-toggle="collapse" href="#searchform" aria-expanded="false" aria-controls="searchform"> إظهار/إخفاء البحث </a> </div> -->
      <div class="col-md-4 text-right"> <a class="btn tp-btn-link" role="button"  href="/place/add/">إضافة <i class="fa fa-plus"></i></a> </div>
    </div>
  </div>
</div>
<!-- <div class="filter-box collapse in" id="searchform">
  <div class="container">
    <div class="row filter-form">
      <div class="col-md-12">
        <h2>بحث</h2>
      </div>
      <form>
        <div class="col-md-3">
          <label class="control-label" for="venuetype">الدولة</label>
          <select id="venuetype" name="venuetype" class="form-control">
            <option value="Weekend">الدولة</option>
          </select>
        </div>
        <div class="col-md-3">
          <label class="control-label" for="capacity">المدينة</label>
          <select id="capacity" name="capacity" class="form-control">
            <option value="">المدينة</option>
          </select>
        </div>
        <div class="col-md-3">
          <label class="control-label" for="price">الحي</label>
          <select id="price" name="price" class="form-control">
            <option value=""> الحي</option>
            <option value="$80 - $90">$80 - $90</option>
          </select>
        </div>
        <div class="col-md-3">
          <button type="submit" class="btn tp-btn-default tp-btn-lg btn-block">بحث</button>
        </div>
      </form>
    </div>
  </div>
</div> -->
<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>تم إسترجاع {{ places | count }} جامع.</h2>
      </div>

      {% if places %}
        {% for place in places %}
        <div class="col-md-3 vendor-box"><!-- venue box start-->
         <div class="vendor-image"><!-- venue pic -->
           <a href="#"><img src="/static/images/m-{{ place.id }}.jpg" alt="wedding venue" class="img-responsive"></a>
         </div>
         <!-- /.venue pic -->
         <div class="vendor-detail"><!-- venue details -->
           <div class="caption"><!-- caption -->
             <h2><a href="/place/{{ place.id }}" class="title">{{ place.name }}</a></h2>
             <p class="location"><i class="fa fa-map-marker"></i> {{ place.country }}</p>
              </div>
         <!-- venue details -->
         </div>
         </div>
        {% endfor %}
      {% else %}
      <h1>هناك مشكلة!</h1>
      {% endif %}



    <!-- <div class="row">
      <div class="col-md-12 tp-pagination">
        <ul class="pagination">
          <li> <a href="#" aria-label="Previous"> <span aria-hidden="true">Previous</span> </a> </li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li> <a href="#" aria-label="Next"> <span aria-hidden="true">NEXT</span> </a> </li>
        </ul>
      </div>
    </div> -->
  </div>
</div>
</div>
<!-- <div class="page-header">
  <h1>قائمة الجوامع</h1>
  <a class="btn btn-default pull-left" href="/mosque/add/" role="button">إضافة <i class="fa fa-plus"></i></a>
</div>

{% if mosques %}
<div class="mosques">
  <ul>
  {% for mosque in mosques %}
  <li>
    <div class="col-md-3"><a href="/mosque/{{ mosque.id }}">
      <div class="panel panel-default">
        <div class="panel-body">
          {{ mosque.name }}
        </div>
      </div></a>
    </div>
  </li>
  {% endfor %}
  </ul>
</div>
{% else %}
<h1>هناك مشكلة!</h1>
{% endif %} -->
{% endblock %}
