.top-links ul {
    float: left;
}

@media (min-width: 768px){
  .navbar-right {
      float: left!important;
      margin-right: -15px;
  }
}

.popular-label, .rated-label, .feature-label {
    left: 0;
}

.btn {
    float: left;
}

select.form-control {
    background-position: 5% 50%;
}

.tp-nav .navbar-brand {
    float: right;
}

.tp-nav .navbar-toggle {
    float: left;
}



@media (max-width: 768px){
  .tp-nav .navbar-default .navbar-collapse, .navbar-default .navbar-form {
      margin-top: 35px;
  }
}
