* {
  margin:0;
  padding:0;
}

html, body {
  height: 100%;
  font-family: 'XBKhoramshahrRegular';
  font-weight: normal;
  font-style: normal;
  background: #ffffff;
}

#wrap {
  min-height: 100%;
  margin-top: -82px;
  padding-top: 80px;
}

#main {
  overflow:auto;
	padding-bottom: 48px; /* must be same height as the footer */
}

footer {
  position: relative;
	margin-top: -48px; /* negative value of footer height */
	height: 48px;
	clear:both;
}

.navbar {
  border-radius: 0px;
}

.navbar-default {
    background-color: #ffffff;
}

.navbar-footer {
  margin-bottom: 0;
}

.navbar-brand img {
  height: 40px;
  margin: -10px 0 0 0;
}

.page-header h1 {
  display: inline;
}

.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #ffffff;
}

.mosques > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.mosque-info {
  height: 250px;
}

.add-image {
  text-align: center;
  margin: 90px 0 0 15px;
  color: #DDDDDD;
}
